/* Right  */
.right {
  margin-top: 2.2rem;
  padding-left: 1.5rem;
}

.right .announcements h2 {
  margin-bottom: 0.8rem;
}
.right .announcements .updates {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.right .announcements .updates:hover {
  box-shadow: none;
}
.right .announcements .updates .message {
  gap: 1rem;
  line-height: 1.5;
  padding: 0.5rem 0;
}

/* Teachers on leave  */
.right .leaves {
  margin-top: 2rem;
}
.right .leaves h2 {
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 768px) {
  .right {
    width: 100%;
    padding: 2rem;
  }
}
